<h1> edit <%= @customer.username %>

<%= form_for @customer do |f|%>

    <% if @customer.errors.any? %>
    <div id="error_explanation">
        <h2>There were some errors:</h2>
        <ul>
        <% @customer.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
        </ul>
    </div>
    <% end %>


    <%= f.label "Username:" %>
    <%= f.text_field :username %>

    <%= f.label "Password:" %>
    <%= f.password_field :password %>

<br>
<br>
<br>

    <%= f.fields_for :payment_profiles do |inner_form| %>
        <%= inner_form.label "Credit Card Nickname" %>
        <%= inner_form.text_field :cc_name %><br/>
    
        <%= inner_form.label "Credit Card Number" %>
        <%= inner_form.text_field :cc_number %><br/>
    <% end %>

    <%= f.submit "Sign up!" %>

<% end %>