<h1> Customer:  </h1>
<h1> <%= @customer.username %></h1>

<br>
<br>

<h3> Appointments: </h3>
<br>
<ul>

<% @customer.appointments.each do |app| %>
  <li><%= app.style %> cut with <%= link_to app.barber.name, barber_path(app.barber_id) %> at <%= app.appointment_datetime %></li>
<% end %>
</ul>

<br>
<br>
<h3> Payment Profiles: </h3>
<br>
<ul>

<% @customer.payment_profiles.each do |payment_profile| %>
  <li><%= payment_profile.cc_name %></li>
<% end %>
</ul>

