<!DOCTYPE html>
<html>
  <head>
    <title>Barbershop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div>
    <% if session[:user_id] %>
      <%=  link_to "Log Out", logout_path, method: :delete %> 
      .    .
      <%= link_to "Your Profile", customer_path(session[:user_id]) %>
       .   .
      <%= link_to "Make a new appointment", new_customer_appointment_path(session[:user_id]) %>
    <% end %>
  </div>

  <body>
    <%= yield %> 
  </body>
</html>
